# Use the following command to regenerate Python modules
# flatpak-pip-generator --runtime=org.gnome.Sdk//50 --checker-data -r requirements.txt -o python3-deps --prefer-wheels=numpy,scipy,matplotlib,contourpy,kiwisolver

pybind11
numpy
scipy
matplotlib
